<ul class="nav">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="/">HOME</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="/main/">Main</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="/dashapp1/">Dashapp1</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="/dashapp2/">Dashapp2</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="/dashapp3/">Dashapp3</a>
  </li>
</ul>